<footer class="footer">
    <div>
       <a href="{{site.url}}/sitemap.xml" target="_blank">Site map</a> |
       <a href="{{site.url}}" target="_blank">Technical Notes</a> |
       <a href="#" target="_blank">MIT License</a>
</footer>
